p{
    color:rgb(70, 66, 97);
}

.luna{
    background-color: #B5C0D0;
}

a.lunalink {
    padding: 0px 30px;
    margin-left: 10px;
    border-radius: 50px;
    color:#8294C4;

}

a.lunalink:hover {
    background-color:#B5C0D0;
    color:#ECF2FF;
}

div.lunadivgrey{
    background-color: #dde6fa;
    padding:30px;
    border-radius: 10px;
    border: 2px solid #B5C0D0;
    width: 100%;
    margin: 10px auto;

}

h4.lunasmallh4{
    font-size: 20px;
    color: #7e8e9a;
}

.lunabg{
    background-image: url("../assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.lunaserif{
        font-family: "Noto Serif TC", serif;   
}

.lunacenter{
    text-align: center;
}

.lunahl{
    font-size: 16px;
    color:#8294C4;
}

.lunabg2{
    background-image: url("../assets/img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.lunahl2{
    color:#B5C0D0;
}

.lunahl3{
    color:#7989b4;
}